/* ==================Navigation Responsive================ */ 
@media (max-width: 992px) {
    nav .container ul {
        display: none;
    }
  }
/* ==================Navigation Responsive================ */ 

/* ==================Hero Section Responsive================ */ 
@media (max-width: 992px){
    h1 {
        font-size: 30px;
    }
    .hero-section {
        height: auto;
    }
    .hero-section .container {
        flex-direction: column;
      }
      .hero-section .container img {
        width: 100%;
      }
      .hero-section .container .hero-left {
        width: 100%;
      }
      .hero-section::after {
          display: none;
      }
      .hero-section .container .hero-left a .btn-2 {
        margin-left: 5px;
        margin-top: 20px;
      }
}
/* ==================Hero Section Responsive================ */ 