* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  /* height: 1000vh; */
  /* overflow: hidden; */
  background: #fff;
}
:root {
  --BlackText: #222222;
  --primaryColor: #081158;
  --secondaryColor: #FEF0D9;
  --primaryTextColor: #FCD392;
  --secondaryTextColor: #B5B5B5;
}
/* ================Global Style================ */
 a {
   text-decoration: none;
 }
 ul li {
   list-style: none;
 }
 ul li a {
   text-decoration: none;
 }
 .btn {
  padding: 12px 30px;
  border-radius: 30px;
  background: var(--primaryColor);
  border: 1px solid transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
 }
 .btn:hover {
   background: transparent;
   border: 1px solid var(--primaryColor);
   color: var(--primaryColor);
 }
 .btn-2 {
  padding: 12px 30px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
 }
 .btn-2:hover {
  background: var(--primaryColor);
  border: 1px solid transparent;
  color: #fff;
}
.nav-btn {
    padding: 8px 20px;
    background: #081158;
    border: 2px solid #081158;
    color: #FBB244 !important;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.3s;
}
.nav-btn:hover {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #000 !important;
}
.tex-type {
    display: inline-block;
    padding: 5px 20px;
    color: #FBB244;
    text-transform: uppercase;
    background-color: rgba(251, 178, 68, 0.2);
    border-radius: 30px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

 h1 {
   color: var(--primaryColor);
   font-size: 40px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
 }
 .paragraph {
   font-size: 14px;
   color: var(--secondaryTextColor);
   line-height: 21px;
 }
/* ================Global Style================ */

/* =============Style For Container============ */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
/* =============Style For Container============ */



/* ==================Navigation================ */
nav {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .logo h2 {
  font-size: 22px;
  font-weight: 900;
  color: var(--BlackText);
  font-family: 'Montserrat', sans-serif;
}
nav .container ul {
  display: flex;
}
nav .container ul li {
  margin-left: 10px;
}
nav .container ul li a {
 color: var(--primaryColor);
 font-family: "Open Sans", sans-serif;
 padding: 10px 15px;
 font-size: 15px;
 font-weight: 400;
}
/* ==================Navigation================ */


/* ================Hero Section================ */
.hero-section {
  height: 80vh;
  display: flex;
  align-items: center;
}
.hero-section::after {
  position: absolute;
  content: "";
  right: -200px;
  top: -200px;
  background: url(../image/blob-1.svg) no-repeat;
  background-size: cover;
  width: 1113.97px;
  height: 850.62px;
  z-index: -1;
}
.hero-section .container {
  display: flex;
  justify-content: space-between;
}
.hero-section .container img {
  width: 50%;
}
.hero-section .container .hero-left {
  width: 40%;
}
.hero-section .container .hero-left h1 {
  margin: 10px 0;
}
.hero-section .container .hero-left a button {
  margin-top: 40px;
}
.hero-section .container .hero-left a .btn-2 {
  margin-left: 10px;
}
/* ================Hero Section================ */


/* ==============Features Section============== */

/* ==============Features Section============== */